.contact-wrapper {
  position: relative;
  background: url("https://hbeanu.files.wordpress.com/2015/03/cool-mint-cute-twitter-website-background.png?w=475")
    no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}
