.background {
  position: relative;
  background: url("https://images.unsplash.com/photo-1513542789411-b6a5d4f31634?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=967&q=80")
    no-repeat;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.link-wrapper {
  text-align: center;
  padding-top: 18rem;
  font-weight: 500;
  font-style: inherit;
  color: brown;
}
